/* src/components/About.module.css */

.container {
    padding: 32px;
    display: flex;
    justify-content: center;
    color: var(--dark-brown);
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: flex-start;
}

.text {
    flex: 1;

    p {
        margin-top: 12px;
    }
}

.bulletList {
    flex: 1;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.bulletList li {
    display: flex;
    align-items: center;
    gap: 16px;
}

.iconBackground {
    box-shadow: var(--card-shadow);
    background-color: var(--red-accent);
    border-radius: 20%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);

    &:hover {
        box-shadow: var(--card-shadow-hover);
    }
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
}
